<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tic tac toe kata</title>
    <link th:href="@{/styles/game.css}" rel="stylesheet" />
</head>
<body onload="highlightCompletedRow()">
<div class="game">
    <form id="gridForm" th:action="@{/game/__${game.id}__}" method="post">
        <div class="grid">
            <div id="00" onclick="userClick(event)" class="box left bottom"><div th:class="${game.state[0][0]}"></div></div>
            <div id="01" onclick="userClick(event)" class="box left bottom"><div th:class="${game.state[0][1]}"></div></div>
            <div id="02" onclick="userClick(event)" class="box bottom"><div th:class="${game.state[0][2]}"></div></div>

            <div id="10" onclick="userClick(event)" class="box left bottom"><div th:class="${game.state[1][0]}"></div></div>
            <div id="11" onclick="userClick(event)" class="box left bottom"><div th:class="${game.state[1][1]}"></div></div>
            <div id="12" onclick="userClick(event)" class="box bottom"><div th:class="${game.state[1][2]}"></div></div>

            <div id="20" onclick="userClick(event)" class="box left"><div th:class="${game.state[2][0]}"></div></div>
            <div id="21" onclick="userClick(event)" class="box left"><div th:class="${game.state[2][1]}"></div></div>
            <div id="22" onclick="userClick(event)" class="box"><div th:class="${game.state[2][2]}"></div></div>

        </div>
        <input id="coordinate" name="coordinate" type="hidden">
    </form>
    <div class="score">
        <span class="p1">
            <span>Player ( </span>
            <span th:class="${playerSign}" th:text="${playerSign}"></span>
            <span> )</span></span>
        <span class="separator">-</span>
        <span class="p2">
            <span>Computer ( </span>
            <span th:class="${opponentSign}" th:text="${opponentSign}"></span>
            <span> )</span></span>
    </div>
    <div class="score">
        <span th:if="${winner}">You Win :)</span>
        <span th:if="${winner != null && !winner}">You lost :(</span>
        <span th:if="${draw}">Draw :|</span>
    </div>
</div>

<script th:inline="javascript">
/*<![CDATA[*/
    var userClick = function(event) {
        var gameOver = /*[[${gameOver}]]*/;
        var id = event.target.getAttribute("id");
        var notEmpty = event.target.classList.contains("x")
                        ||  event.target.classList.contains("o")
                        ||  (event.target.firstElementChild != null &&
                            (event.target.firstElementChild.classList.contains("x")
                            ||  event.target.firstElementChild.classList.contains("o")));
        if(!id) {
            id = event.target.parentElement.getAttribute("id");
        }
        if(!notEmpty && !gameOver) {
            document.getElementById("coordinate").setAttribute("value", id);
            document.getElementById("gridForm").submit();
        }
    }
    var highlightCompletedRow = function(event) {
        var winner = /*[[${winner}]]*/;
        var startPos = /*[[${startPos}]]*/;
        var endPos = /*[[${endPos}]]*/;
        if(startPos == null || endPos == null){
            return;
        }
        let skip ;
        if (Math.floor(startPos / 10) == Math.floor(endPos / 10)) {
            //same row
            let r = Math.floor(endPos / 10);
            skip = [ r + '0' , r + '1', r + '2'];
        }else if ((startPos % 10) == (endPos % 10)) {
            // same column
            let c = startPos % 10;
            skip = [ '0' + c , '1' + c ,  '2' + c];
        }else {
            skip = [ '0' + startPos , endPos + '', '11'];
        }
        console.log(skip);
        if(winner !== null) {
            let boxes = document.getElementsByClassName('box');
            for(let i = 0; i< 9; i++) {
                if(skip.includes(boxes[i].getAttribute("id"))){
                    continue;
                };
                boxes[i].classList.add("greyed");
            }
        }
    }
/*]]>*/
</script>
</body>
</html>