<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tic tac toe kata</title>
    <link th:href="@{/styles/game.css}" rel="stylesheet" />
    <script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
</head>
<body onload="highlightCompletedRow()">
<div class="game" th:fragment="game-grid" id="game-grid" >
    <form id="gridForm">
        <div class="grid" th:classappend="${blockGrid} ? 'block-grid' : ''">
            <div id="00" onclick="makeMove(event)" class="box left bottom"><div th:class="${game.state[0][0]}"></div></div>
            <div id="01" onclick="makeMove(event)" class="box left bottom"><div th:class="${game.state[0][1]}"></div></div>
            <div id="02" onclick="makeMove(event)" class="box bottom"><div th:class="${game.state[0][2]}"></div></div>

            <div id="10" onclick="makeMove(event)" class="box left bottom"><div th:class="${game.state[1][0]}"></div></div>
            <div id="11" onclick="makeMove(event)" class="box left bottom"><div th:class="${game.state[1][1]}"></div></div>
            <div id="12" onclick="makeMove(event)" class="box bottom"><div th:class="${game.state[1][2]}"></div></div>

            <div id="20" onclick="makeMove(event)" class="box left"><div th:class="${game.state[2][0]}"></div></div>
            <div id="21" onclick="makeMove(event)" class="box left"><div th:class="${game.state[2][1]}"></div></div>
            <div id="22" onclick="makeMove(event)" class="box"><div th:class="${game.state[2][2]}"></div></div>

        </div>
        <input id="coordinate" name="coordinate" type="hidden">
    </form>
    <div class="score">
        <span class="p1">
            <span>You ( </span>
            <span th:class="${playerSign}" th:text="${playerSign}"></span>
            <span> )</span></span>
        <span class="separator">-</span>
        <span th:if="${waitForOpponentToJoin}" class="p2">
             <span>Waiting for another player to join ...</span>
        </span>
        <span th:unless="${waitForOpponentToJoin}" class="p2">
            <span>Player ( </span>
            <span th:class="${opponentSign}" th:text="${opponentSign}"></span>
            <span> )</span></span>
    </div>
    <div class="score">

        <span th:if="${winner}">You Win :)</span>
        <span th:if="${winner != null && !winner}">You lost :(</span>
        <span th:if="${draw}">Draw :|</span>
        <input type="hidden" id="winner" th:value="${winner}" />
        <input type="hidden" id="startPos" th:value="${startPos}" />
        <input type="hidden" id="endPos" th:value="${endPos}" />
    </div>
</div>

<script th:inline="javascript">
/*<![CDATA[*/
    var makeMove = function(event) {
        if($('.block-grid').length) {
            return;
        }
        var gameId = /*[[${game.id}]]*/;
        var id = event.target.getAttribute("id");
        var notEmpty = event.target.classList.contains("x")
                        ||  event.target.classList.contains("o")
                        ||  (event.target.firstElementChild != null &&
                            (event.target.firstElementChild.classList.contains("x")
                            ||  event.target.firstElementChild.classList.contains("o")));
        if(!id) {
            id = event.target.parentElement.getAttribute("id");
        }
        if(!notEmpty) {
            document.getElementById("coordinate").setAttribute("value", id);
            $.post("/game/" + gameId, $( "#gridForm" ).serialize())
              .done(function(fragment) {
                 $("#game-grid").replaceWith(fragment);
                 highlightCompletedRow();
              })
              .fail(function() {
                alert( "Error contacting Opponent" );
              });
        }
    }
    var highlightCompletedRow = function(event) {
        var winner = $('#winner').val();
        var startPos = new Number($('#startPos').val());
        var endPos = new Number($('#endPos').val());
        if(winner === ""){
            return;
        }
        let skip ;
        if (Math.floor(startPos / 10) == Math.floor(endPos / 10)) {
            //same row
            let r = Math.floor(endPos / 10);
            skip = [ r + '0' , r + '1', r + '2'];
        }else if ((startPos % 10) == (endPos % 10)) {
            // same column
            let c = startPos % 10;
            skip = [ '0' + c , '1' + c ,  '2' + c];
        }else {
            skip = [ '0' + startPos , endPos + '', '11'];
        }
        if(winner !== "") {
            let boxes = document.getElementsByClassName('box');
            for(let i = 0; i< 9; i++) {
                if(skip.includes(boxes[i].getAttribute("id"))){
                    continue;
                };
                boxes[i].classList.add("greyed");
            }
        }
    }
    $(document).ready(function() {
        var playerId = /*[[${playerId}]]*/;
        if(playerId) {
            const ws = new WebSocket('ws://localhost:8080/players?playerId=' + playerId);
	        ws.onmessage = function(data) {
	            refreshGameGrid();
		        waitForOpponentMove =  false;
	        }
        }
    });
    var refreshGameGrid = function () {
        var gameId = /*[[${game.id}]]*/;
        $.post("/game/" + gameId + "/refresh")
          .done(function(fragment) {
             $("#game-grid").replaceWith(fragment);
             highlightCompletedRow();
             waitForOpponentMove = true;
          });
    }
/*]]>*/
</script>
</body>
</html>